.contenido_barra_products{
    width: 100%;
    height: 600px;
    position: absolute;
    background-image: url("../imagenes/licores.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}